* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



@media only screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
}


@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  * {
    font-size: 10px;
  }
}

.containerBG {
  min-height: 100vh;
  background-color: #0d6efd36;
}

.dialogDiv {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: rgba(216, 216, 216, 0.144);
}

.margin5px {
  margin: 5px;
}

.flexChildren {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dialogButton {
  width: 100%;
}

.colFlex {
  display: flex;
  flex-direction: column;
}

.colFlexdiv1 {
  flex: 1;
}

.colFlexdiv2 {
  height: 100%;
}

.listviewofme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 15%;
  margin-bottom: 15%;
  max-height: 400px;
}

.listviewofme>div {
  width: 80%;
  margin-left: 10%;
}

.contact {
  margin-top: 8%;
  margin-bottom: 8%;
}

.rightSchemeButton {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  height: 5vh;
  margin-right: 1vh;
}

.rightSchemeButton>button {
  max-height: 50px;
}

@media only screen and (max-height: 740px) {
  .rightSchemeButton>button {
    position: absolute;
  }
}

.rightBoxInfoDivScroll {
  height: 87vh;
  overflow-x: auto;
  margin: 2vh;
}

.rightBoxInfoDivNoScroll {}

.rightBoxInfoDivBG {
  background: rgb(0 203 255 / 24%);
  height: 91.5vh;
  padding: 1vh;
  margin: 1vh;
  border-radius: 10px;
  position: relative;
}

.rightBoxInfoDivBGMobil {
  background: rgb(0 203 255 / 24%);
  padding: 1vh;
  margin: 1vh;
  border-radius: 10px;
}

.scrollboxHover {
  position: absolute;
  overflow-x: auto;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  backdrop-filter: blur(3px);
}

.scrollboxHoverVisibilityHidden {
  position: absolute;
  overflow-x: auto;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  animation-name: scrollboxHoverVisibilityHidden;
  animation-duration: 1s;
}

@keyframes scrollboxHoverVisibilityHidden {
  0% {
    opacity: 1;
    backdrop-filter: blur(3px);
  }

  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.hoverFlexDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}