* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.smoothScroll {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
}


@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  * {
    font-size: 10px;
  }
}

.containerBG {
  min-height: 100vh;
  background-color: #0d6efd36;
  display: flex;
  justify-content: center;
}

.containerBG>div {
  max-width: 1920px;
}

.dialogDiv {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: linear-gradient(to right, rgb(0 203 255 / 72%) 0%, rgb(0 238 255 / 43%) 100%);
}

.margin5px {
  margin: 5px;
}

.flexChildren {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dialogButton {
  width: 100%;
}

.colFlex {
  display: flex;
  flex-direction: column;
}

.colFlexdiv1 {
  flex: 1;
}

.colFlexdiv2 {
  height: 100%;
}

.listviewofme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 15%;
  margin-bottom: 15%;
  max-height: 400px;
}

.listviewofme>div {
  width: 80%;
  margin-left: 10%;
}

.rightSchemeButton {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  height: 5vh;
  margin-right: 1vh;
}

.rightSchemeButton>button {
  max-height: 50px;
}

@media only screen and (max-height: 740px) {
  .rightSchemeButton>button {
    position: absolute;
  }
}

.rightBoxInfoDivScroll {
  height: 87vh;
  overflow-x: auto;
  margin: 2vh;
}

.rightBoxInfoDivNoScroll {
  margin: 2vh;
}

.rightBoxInfoDivBG {
  background: rgb(0 203 255 / 24%);
  height: 91.5vh;
  padding: 1vh;
  margin: 1vh;
  border-radius: 10px;
  position: relative;
}

.rightBoxInfoDivBGMobil {
  background: rgb(0 203 255 / 24%);
  padding: 1vh;
  margin: 1vh;
  border-radius: 10px;
}

.scrollboxHover {
  position: absolute;
  overflow-x: auto;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  width: -webkit-fill-available;
  width: -moz-available;
  height: inherit;
  margin: 1vh;
}

.scrollboxHoverVisibilityHidden {
  margin: 1vh;
  position: absolute;
  overflow-x: auto;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  height: inherit;
  animation-name: scrollboxHoverVisibilityHidden;
  animation-duration: 1s;
}

@keyframes scrollboxHoverVisibilityHidden {
  0% {
    opacity: 1;
    backdrop-filter: blur(3px);
  }

  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.hoverFlexDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}


.contact {
  margin-top: 8%;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-evenly;
}

.contact-link {
  margin-left: 6px;
  margin-right: 6px;
}

.contact-link-a {
  color: unset;
  text-decoration: none;
}

.contact-link-a-hover>div {
  position: relative;
  transition: 0.3s ease-out 100ms;
}

.contact-link-a-hover:hover>div {
  padding-left: 35px;
}

.myCard {
  margin: 5%;
  background-color: rgb(0 206 255 / 60%);
  border-radius: 5px;
  padding: 20px;
}

.schoolIMGDiv > img {
  width: 100%;
  border-color: lightgray;
  border-width: 2px;
  border-style: solid;
}

.schoolIMGDiv{
  margin-bottom: 2%;
}

.schoolShortListDiv{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255 0 45 / 10%);
}

.schoolIMGFlexBox{
  display: flex;
  flex-wrap: wrap;
}

.schoolIMGFlexBoxDivs{
  display: flex;
  background-color: rgb(0 206 255 / 60%);
  border-radius: 5px;
  padding:5px 10px 5px 10px;
  margin: 2.5px;

}