html,
body,
#root,
#prov {
    margin: 0px !important;
    min-height: 100vh;
}

.rowextra,
.colextra {
    min-height: 100vh;
}

.rightBoxInfoDivScroll::-webkit-scrollbar {
    display: none;
}

.rightBoxInfoDivScroll{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}