.containerBG{

}

.avatarImage{
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin: 2.5%;
}

.avatarImageDiv{
    width: 40%;
    aspect-ratio: 1/1;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

.avatarImageCorner{
    border-radius: 8%;
}

.avatarImageBG {
    background-color: deepskyblue;
    border-radius: 10%;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
}

.dialogDiv{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(216, 216, 216, 0.144);
}

.margin5px{
    margin: 5px;
}

.flexChildren{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dialogButton{
    width: 100%;
}